.signin{
    background-image: url('../image/background.jpg');
    background-size: cover;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginform{
    background-color: #ffffff4d;
    padding: 13px;
    border: 1px solid rgb(129,121,121);
    border-radius: 1px;
}
.loginform2{
    background-color: #ffffff4d;
    padding: 20px;
    margin-top: 5px;
    border: 1px solid rgb(129,121,121);
    border-radius: 1px;
}
#login-btn{
    background-color: #1773EA;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 8px;
}
#login-btn:hover{
    box-shadow:  0px 0px 8px black;
}