.signup{
    background-image: url('../image/background.jpg');
    background-size: cover;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: #fff;
    padding: 13px;
    border: 1px solid rgb(129,121,121);
    border-radius: 1px;
}

.signup-logo{
    width: 200px;
    object-fit: contain;
    padding: 10px 0px;

}
.loginpara{
    color:rgba(var(--f52,142,142,142),1);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 0px 40px 20px 40px;
}
input{
    padding: 5px;
    margin: 3px 0px;
    outline: none;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
.form > div{
    width: 80%;
    margin: auto;
}

#submit-btn{
    background-color: #1773EA;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    width: 80%;
    cursor: pointer;
    margin-top: 8px;
}
#submit-btn:hover{
    box-shadow: 0px 0px 8px #050505;
}

.form2{
    background-color: #fff;
    padding: 30px;
    margin-top: 5px;
    border: 1px solid rgb(129,121,121);
    border-radius: 1px;
}